@charset "UTF-8";

/* - ESTILO PARA O CORPO DA PÁGINA HOME - */
h1 {
    text-align: center;
    margin: 30px;
}

p {
    margin: 10px;
    text-align: justify;
}

a {
    color: black;
}

h2 {
    margin: 20px 0 0 10px;
}