@charset "UTF-8";

/* - ESTILO PARA O CORPO DA PÁGINA HOME - */
main {
    padding: 20px;
}

h1, h2 {
    font-size: 24px;
    color: #006050;
    margin: 20px 0 0 10px;
}

/* h1 {
    text-align: center;
    margin: 20px;
} */

#logo_ial {
    text-align: center;
    margin: 20px auto 10px;
}

p {
    margin: 10px;
    text-align: justify;
}

a {
    color: black;
}

#principios{
    background-color: #00493d50;
    padding: 10px;
    border-radius: 8px;
}

#principios div{
    background-color: #0060502d;
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
}

#principios div ul{
    margin: 10px 30px;
}

#img_alpha{
    padding: 10px;
}

#img_alpha:hover{
    border-radius: 8px;
    padding: 10px;
    background-color: #00996e66;
    transition: background-color .9s;
}

#principios div:hover{
    background-color: #0060505d;
    transition: background-color .3s;
    border:solid white;
    transition: border .1s;
}